.vacation{
  border: 1px solid black;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  background-color: aliceblue;
  text-align: center;
}

#vacation-name{
  color: rgb(124, 216, 112);
  font-size: 30px;
}
.delete-vacation, .edit-vacation, .follow-vacation{
  position: absolute;
  /* background-color: whitesmoke; */
  border-color: transparent;
  opacity: 40%;
  margin-left: -20px;
  font-size: 10px;
  padding: unset;
  border-radius: 25px;
}

.delete-vacation:hover, .edit-vacation:hover, .follow-vacation:hover{
  border-color: gray;
  font-size: 12px;
  opacity: 100%;
}
.like-vacation{
  position: absolute;
  opacity: 40%;
  margin-left: -20px;
  font-size: 10px;
  padding: unset;
  border-radius: 25px;
  border-color: red;
  font-size: 12px;
  opacity: 100%;
}

.edit-vacation{
  margin-left: -41px;
}
    
.vacation-img{
  display: inline-flex;
  object-fit: cover;
  width: 270px;
  height: 162px;
}



.guest{
  position: absolute;
  background-color: whitesmoke;
  margin-top: 5px;
  opacity: 63%;
  margin-left: -266px;
  font-size: 10px;
  padding: 2px;
  border-radius: 7px;
}

