.Search{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.search-input{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    color: black;
    display: inline-block;
}

