.ButtonsBar{
    text-align: center;
    margin: auto;
    background-color: rgb(112, 211, 211);
    align-items: center;
}

.bar-buttons{
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;

}

.bar-buttons:hover{
    background-color: transparent;
    border-color: gray;
    border-radius: 7px;
    font-size: 15px;
}

.menu-list{
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
}

.menu-list:hover{
    background-color: transparent;
    border-color: gray;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
}
