.Layout{
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}
  
.Layout>div{
    grid-column: span 3;
    flex-direction: column;
    background-color: rgb(112, 211, 211);
    padding: 10px;
    display: flex;
     justify-content: center; 
}
.Layout>header{
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 211, 211);
    padding: 10px;
}

.Layout> footer {
    grid-column: span 12;
}

  
.Layout>main {
    grid-column: span 12;  
    display: flex;
    align-items: center;
    flex-direction: column;
    
} 

.Header>h1{
    margin: 0;
    text-align: center;
    font-weight: bold; 
}
  