.Log-in {
    display: block;
    margin: 20px;
    background-color: white;
    padding: 20px;
    opacity: 80%; 
}
.Log-in > h1{
    margin-top: 5px;
}
.container{
    text-align: right;
}
     
.submit{
    opacity: 70%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}
 
.submit:hover{
    opacity: 100%;    
}

.user-input{
    font-size: 16px;   
}

h6{
    margin-top: 10px;
    margin-bottom: 5px;
}
    